.error {
    color: red;
    text-align: center;
    font-size: 24px;
    font-style: normal;
  }

.success {
    color: #4d8977;
    text-align: center;
    font-size: 24px;
    font-style: normal;
  }


  @media (max-width: 768px) {
    .error {
      color: red;
      font-size: 15px;
    }
  
  .success {
      color: #4d8977;
      text-align: center;
      font-size: 24px;
      font-style: normal;
    }
  }